.button {
  display: inline-block;
  padding: 0.6rem 1rem;
  border: 1px solid #444;
  border-radius: 2px;
  color: #444;
  text-decoration: none;
  background: #fff;
}

.button:hover {
  background: #444;
  color: #fff;
  transition: 0.4s cubic-bezier(.07, .81, .72, 1.15);
}
